<%= render "partials/navbar" %>
<div class="search-student">
  <%= form_with(model: @presenter.filter, url: students_path, method: :get) do |form| %>
    <%= form.text_field :query %>
    <%= form.submit t('user.search') %>
  <% end %>
</div>
<div class="container-students">
  <div class="table-students">
    <table>
      <thead>
        <tr>
          <th> ESTUDIANTES </th>
          <th> EDAD </th>
          <th> ESCOLARIDAD ALCANZADA </th>
          <th> ESCOLARIZADO </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <% @presenter.students.each do |student| %>
          <tr>
          <td> <%= student.full_name %> </td>
          <td><%= student.ages %> </td>
          <td><%= student.school_grade %> </td>
          <td><%= student.escolarizado %> </td>
          <td> "editar" </td>
        </tr>
        <% end %>
      </tbody>
      <%== pagy_nav(@presenter.pagynate) %>
    </table>
  </div>
</div>