<div class="search-student">
  <div class="search-box">
    <%= form_with(model: @presenter.filter, url: students_path, method: :get) do |form| %>
      <div class="search-container">
        <%= form.text_field :query %>
      </div>
      <div>
        <%= button_tag :submit do %>
          <i class='search icon'></i>
        <% end %>
      </div>
    <% end %>
  </div>
    <%= link_to new_student_path, data: { turbo_frame: 'modal', controller: 'modal', action: 'click->modal#toggleBackground'  }, class:'user-create-button' do %>
      <%= image_tag 'add_user.svg' %>
      <span class="text-button"> <p><%= t('student.register_button') %></p></span>
  <% end %>
</div>
<div class="container-students">
  <div class="table-students">
    <table>
      <thead>
        <tr>
          <th><%= t('student.student') %></th>
          <th><%= t('student.age') %></th>
          <th><%= t('student.scholarship') %></th>
          <th><%= t('student.student_active') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @presenter.students.each do |student| %>
          <tr>
            <td class= "student-user-name"><%= link_to student.full_name, student_path(student) %></td>
            <td><%= student.ages %></td>
            <td><%= student.school_grade %></td>
            <td><%= student.escolarizado %></td>
            <td class="edit-student-button">
              <% if policy(student).edit? %>
                <%= link_to edit_student_path(student), data: { turbo_frame: 'modal', controller: 'modal', action: 'click->modal#toggleBackground' } do %>
                  <%= image_tag "edit.svg" %>
                <% end %>
              <% end %>
            </td>
            <td>
            <div class='delete-student-container'>
              <div data-controller="modal">
                <span data-action= "click->modal#hideModal", class="delete-btn"> <%=image_tag 'trash-2.svg'%> </span>
                <div class='modal-delete hidden' data-modal-target="hideButton">
                  <p class='text-modal-delete'> <%= t('student.confirm_delete') %> </p>
                <%= button_to t('delete'), student_path(student), type: "button", class:"delete-btn-modal", method: :delete%>
                </div>
              </div>
            </div>  
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%== pagy_nav(@presenter.pagynate) %>
</div>