<div class='historial'>
  <%= link_to t('student.students') , students_path%>
  <p class='signito'> &ensp; > &ensp; </p>
  <p class='student-actual'><%=@student.decorate.full_name%></p>
</div>
<div class='container-detail'>
  <div class="student-data"> 
    <h2><%= @student.decorate.full_name%></h2>
    <h3><%= t('student.data_title') %></h3>
    <div class='student-info'>
      <p class='title-info'><%= t("student.birthdate")%></p>
      <p class='data-info'><%=  @student.birthdate%></p>
    </div>
    <div class='student-info'>
      <p class='title-info'><%=  t("student.address") %></p>
      <p class='data-info'><%=  @student.address%></p>
    </div>
    <div class='student-info'>
      <p class='title-info'><%= t("student.scholarship")%></p>
      <p class='data-info'><%=  @student.school_grade%></p>
    </div>
    <div class='student-info'>
      <p class='title-info'><%= t('student.student_active') %></p>
      <p class='data-info'><%=  @student.decorate.escolarizado%></p> 
    </div>
  </div>
  <div class='container-comment'>
    <div class='comment-details'>
      <p><%= t('comments.title') %></p>
      <%= form_with url: student_comments_path(@student), scope: :comment, method: :post, data: { controller: "emoji-picker"} do |f| %>
      <%= f.text_area :body, placeholder: t('comments.placeholder'),class: 'my-picker-comment', data: { emoji_picker_target: "input"} %>
        <div class='comment-button'>
          <div class='icons-button'> 
            <%= image_tag 'smile.svg', class: 'emojis-image', data: { action: "click->emoji-picker#toggle" , emoji_picker_target: "button"}%>
            <label class='files-attacher'>
              <%= image_tag 'add-files.svg' %>
              <div data-controller="file">
                <%= f.file_field :files, multiple: true, data: {action: 'change->file#addFile'}, active: 'image/jpg, image/png, application/pdf, application/msword' %>
                <ul class='files-list' data-file-target='list'> </ul>
              </div>
            </label>
            <%= f.check_box :highlight_comment %>
            <label><%= t('student.highlight_post')%></label>
          </div>
          <div> 
            <input type="submit", value= "Publicar", class= "post-button">
          </div>
        </div>  
      <% end %>
    </div>
    <div class="comments">
      <%= render partial: 'comments', locals: { comments_by_day: @comments_highlighted, student: @student, is_highlighted: true }%>
      <%= render partial: 'comments', locals: { comments_by_day: @comments_not_highlighted, student: @student, is_highlighted: false }%>
    </div>
  </div>
</div>


