<div class="navbar" data-controller="modal">
  <div class="home">
    <%= link_to image_tag('home.svg'), users_path %>
  </div>
  <div class="students">
    <%= link_to "Estudiantes", students_path %>
  </div>
  <div class="logged-user">
    <span data-action="click->modal#hideModal">
      <%= current_user.name %> <%= current_user.lastname %>
    </span>
    <div class="hidden" data-modal-target="hideButton">
      <%= link_to logout_path, class:'logout-btn' do %>
        <span class="text-button"> <p><%= t('session.logout_button') %></p></span>
        <%= image_tag 'log-out.svg' %>
      <% end %>
    </div>
  </div>
</div>