<%= turbo_frame_tag "modal" do %>

<%= tag.div data: { controller: "turbo-modal",
                      turbo_modal_target: "modal",
                      action: "turbo:submit-end->turbo-modal#submitEnd keyup@window->turbo-modal#closeWithKeyboard click@window->turbo-modal#closeBackground" },
                      class: "p-5 bg-slate-300 absolute z-10 top-10 right-10 rounded-md w-96 break-words" do %><h1 class="edit-h1">Modificar usuario</h1>

<%= form_with model: @user do |form| %>
    <div>
      <%= form.label t('user.name') %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label t('user.surname') %><br>
      <%= form.text_field :lastname %>
    </div>

    <div>
      <%= form.label t('user.email') %><br>
      <%= form.text_field :email, disabled: true %>
    </div>

    <div>
    <%= form.label t('user.rol') %><br>
    <%= form.text_field :role, list: 'role'%>
    <datalist id="role">
      <option><%= 'Administrador' %></option>
      <option><%= 'Colaborador' %></option>
    </datalist>
  </div>
  
    <div>
      <%= form.submit t("user.save"), class: "rounded-lg py-3 px-5 bg-red-600 text-white" %>
    <%= button_tag t('user.close'), data: { action: "turbo-modal#hideModal" }, type: "button", class: "rounded-lg py-3 px-5 bg-red-600 text-white" %>
    <% end %>
    </div>
  <% end %>
  <% end %>
