<p style="color: green"><%= notice %></p>

<h1>Estudiantes</h1>
<section>

  <div class="form-users">
    <div class="users-button">
    <%= form_with(model: @filter, url: users_path, method: :get) do |form| %>
    <%= form.text_field :query %>
    <%= form.submit t('user.search') %>
    <%= link_to t('user.create'), new_user_path, class:'create-button' %>
    <% end %>
    </div>
    
    

      <table>
      <tr>
        <%=tag.th  t('user.name'), class:'th-name'%>
        <%=tag.th  t('user.surname'), class:'th-lastname'%>
        <%=tag.th  t('user.email'), class:'th-email'%>
      </tr>
    <% @users.each do |user| %>
      <tr>
        <td class="td-name" ><%= user.name %></td>
        <td class="td-lastname" ><%= user.lastname %></td>
        <td class="td-email" ><%= user.email %></td>
      </tr>
    <% end %>
    </table>
    <%== pagy_nav(@pagy) %>
  </div>

</section>
