<div class="search-student">
  <div class="search-box">
    <%= form_with(model: @filter, url: users_path, method: :get) do |form| %>
      <div class="search-container">
        <%= form.text_field :query %>
      </div>
      <div>
        <%= button_tag :submit do %>
          <i class='search icon'></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <% if policy(current_user).new?%>
      <%= link_to new_user_path, data: { turbo_frame: 'modal', controller: 'modal', action: 'click->modal#toggleBackground'  }, class:'user-create-button' do %>
        <%= image_tag 'add_user.svg' %>
        <span class="text-button"> 
          <p><%= t('user.register_button') %></p>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container-students">
  <div class="table-students">
    <table>
      <tr>
        <%=tag.th  t('user.name')%>
        <%=tag.th  t('user.surname')%>
        <%=tag.th  t('user.email')%>
        <% if policy(current_user).edit?%>
        <%=tag.th t('user.rol')%>
        <%=tag.th t('user.activate')%>
        <th></th>
        <% end %>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.lastname %></td>
          <td><%= user.email %></td>
          <% if policy(current_user).edit? %>
            <td> <%= user.role%>
            <td class="user-td-toggle" data-controller='toggle' data-toggle-url-value="<%=toggle_active_user_path(user.id)%>">
              <label class="switch">
                <input type="checkbox" data-action='click->toggle#userActivate' <% if user.is_active? %> checked <% end %> />
                <span class="slider round"></span>
              </label>
            </td>
            <td class="edit-student-button">
              <% if policy(user).edit? %>
                <%= link_to edit_user_path(user), data: { turbo_frame: 'modal', controller: 'modal', action: 'click->modal#toggleBackground' } do %>
                  <%= image_tag "edit.svg" %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <%== pagy_nav(@pagy) %>
</div>
</body>
