<p style="color: green"><%= notice %></p>


<div class="contenedor">
 <div class= "grid">
 <section>
 <%== pagy_nav(@pagy) %>
  
   <table>
   <tr>
     <th>Name</th>
     <th>Lastname</th>
     <th>Email</th>
   </tr>
 <% @users.each do |user| %>
   <tr>
     <td><%= user.name %></td>
     <td><%= user.lastname %></td>
     <td><%= user.email %></td>
     <td>
   </tr>
 <% end %>
 </table>
 </section>
