<p style="color: green"><%= notice %></p>


<div class="contenedor">
 <div class= "grid">
 <section>
 <%== pagy_nav(@pagy) %>
  
<%= form_with(model: @filter, url: users_path, method: :get) do |form| %>
  <%= form.text_field :query,  value: params[:query] %>
  <%= form.submit %>
<% end %>



   <table>
   <tr>
     <th>Name</th>
     <th>Lastname</th>
     <th>Email</th>
   </tr>
 <% @users.each do |user| %>
   <tr>
     <td><%= user.name %></td>
     <td><%= user.lastname %></td>
     <td><%= user.email %></td>
     <td>
   </tr>
 <% end %>
 </table>
 </section>
