<%= turbo_frame_tag "modal" do %>
 <%= tag.div data: { controller: "turbo-modal",
                      turbo_modal_target: "modal",
                      action: "turbo:submit-end->turbo-modal#submitEnd keyup@window->turbo-modal#closeWithKeyboard click@window->turbo-modal#closeBackground" },
                      class: "p-5 bg-slate-300 absolute z-10 top-10 right-10 rounded-md w-96 break-words" do %>
  <div class="container-modal">
    <div class= "edit-h1"> 
      <%=tag.h1 t('user.create'), class: "edit-h1"%>
    </div>
    <div class= "form-modal"> 
      <%= form_with model: @user do |form| %>
        <div class="input-modal">
          <%= form.label t('user.name') %>
          <%= form.text_field :name %>
        </div>
        <div class="input-modal">
          <%= form.label t('user.surname') %>
          <%= form.text_field :lastname %>
        </div>
        <div class="input-modal">
          <%= form.label t('user.email') %>
          <%= form.text_field :email %>
        </div>
        <div class="input-modal">
          <%= form.label t('user.rol') %>
          <%= form.select :role, User.roles.keys, include_blank: false%>
        </div>
        <div class="input-modal">
          <%= form.label t('user.pw') %>
          <%= form.password_field :password %>
        </div>
        <div class="input-modal">
          <%= form.label t('user.confirm_pw') %>
          <%= form.password_field :password_confirmation %>
        </div>
        <div class="button-modal">
          <%= form.submit t('user.create_user')%> 
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

