<%= turbo_frame_tag "modal" do %>
<h1 class="edit-h1">New User</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit %>
    <p><%= link_to t("user.close"), users_path%></p>
  </div>
<% end %>
<% end %>
