<div class="contenedor">
  <nav class="menu">
   <%= link_to t('session.session_'), root_path%>
   <%= link_to t('session.sign_up'), registrations_path%>
 </nav>
 <hr>
 <div class= "grid">
 <div>
 <%= image_tag("Frame.png")%>
 </div>
 <section>
 <h1 class="title">Registro</h1>

 <%= form_with url: registrations_path do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :lastname %><br>
    <%= form.text_area :lastname %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.text_area :password %>
  </div>
  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.text_area :password_confirmation %>
  </div>

  <div>
    <%= form.submit %>
  </div>
       <br>
       <div class='google'>
           <%= image_tag("google_logo.png")%>
             <%= link_to t('session.log_in_google'), '/#', class: 'ingreso-google'%> 
       </div>
       <br>
       </div>
 <% end %> 
 </section>
 </div>
 </div>

