<main>
  <section class="section-form">
    <div class = "div-rectangle">
      <div class = div-nav>
        <nav>
        <%= link_to t('session.session_'), root_path, class: 'sesion' %> 
        <%= link_to t('session.sign_up'), registrations_path, class: 'registro' %> 
        </nav>
      </div>
      <hr>
      <div class = "div-content">
        <div class = 'div-img'>
          <%= image_tag("Frame.png") %>
        </div>
        
        <%= form_with url: registrations_path, method: :post, class: 'div-form' do |form| %> 
          <div class="d1">
            <%= tag.h1 t('session.regist'), class:"ingresar" %> 
          </div>

          <div class="d2">

          <%= form.label t('user.name'), class: 'label' %>
          <%= form.text_field :name, class: 'input-label'%>

          <%= form.label t('user.surname'), class: 'label' %>
          <%= form.text_field :lastname, class: 'input-label' %>

      
          <%= form.label t('user.email'), class: 'label' %>
          <%= form.text_field :email, class: 'input-label' %>
      
          <%= form.label t('user.pw'), class: 'label' %>
          <%= form.password_field :password, class: 'input-label' %>

          <%= form.label t('user.confirm_pw'), class: 'label' %>
          <%= form.password_field :password_confirmation, class: 'input-label' %>
           
           </div>
          
            <div class = 'div-links'>
              <%= form.submit t('session.regist'), class: 'btn-ingresar'%>  
              <br>
              <div class='google'>
                <%= image_tag("google_logo.png")%>
                <%= link_to t('session.log_in_google'), '/#', class: 'ingreso-google'%> 
              </div>
            </div>
          </div>
          <%end%>
      </div>
    </div>  
  </section>

</main>
