<div class="contenedor">
  <nav class="menu">
   <%= link_to t('session.session_'), root_path%>
   <%= link_to t('session.sign_up'), registrations_path%>
 </nav>
 <hr>
 <div class= "grid">
 <div>
 <%= image_tag("Frame.png")%>
 </div>
 <section>
 <h1 class="title">Registro</h1>
 <%= form_with  do |form| %>
       <div class="input-group">
         <%= form.label t('register.name'), class: 'label'  %>
         <%= form.text_field :name_user, class: 'input'  %>
       </div>
       <div class="input-group">
         <%= form.label t('register.surname'), class: 'label'  %>
         <%= form.text_field :surname_user, class: 'input'  %>
       </div>
       <div class="input-group">
         <%= form.label t('session.email'), class: 'label'  %>
         <%= form.text_field :email_user, class: 'input'  %>
       </div>
       <div class="input-group">
         <%= form.label t('session.pw'), class: 'label'%>
         <%= form.number_field :password, class: 'input', type: 'password'%>
       </div>
       <div class="input-group">
         <%= form.label t('register.confirm_pw'), class: 'label'  %>
         <%= form.number_field :password, class: 'input', type: 'password' %>
       </div>
       <%= button_to 'Registrarme', new_user_path%>
       <div>
       <br>
       <div class='google'>
           <%= image_tag("google_logo.png")%>
             <%= link_to t('session.log_in_google'), '/#', class: 'ingreso-google'%> 
       </div>
       <br>
       </div>
 <% end %> 
 </section>
 </div>
 </div>

