<div class="home-container">
  <section class="post-section">
    <div class='home-date-container'>
      <div>
        <%= image_tag 'chevron-left.svg' %>
        <%= image_tag 'chevron-right.svg' %>
      </div>
      <div class="date">
        <div >
          <p><%= @date %></p>
          <p><%= @day %></p>
        </div>
        <%= image_tag 'arrow_drop_down.svg' %>
      </div>
    </div>
    <div class='container-comment post-index'>
      <div class='comment-details'>
        <p><%= t('home.index.title') %></p>
        <%= form_with url: posts_path, scope: :post, method: :post, data: { controller: "emoji-picker"} do |f| %>
        <%= f.text_area :body, placeholder: t('comments.placeholder'),class: 'my-picker-comment', data: { emoji_picker_target: "input"} %>
          <div class='comment-button'>
            <div class='icons-button'> 
              <%= image_tag 'smile.svg', class: 'emojis-image', data: { action: "click->emoji-picker#toggle" , emoji_picker_target: "button"}%>
              <label class='files-attacher'>
                <%= image_tag 'add-files.svg' %>
                <div data-controller="file">
                  <%= f.file_field :files, multiple: true, data: {action: 'change->file#addFile'}, active: 'image/jpg, image/png, application/pdf, application/msword' %>
                  <ul class='files-list' data-file-target='list'> </ul>
                </div>
              </label>
              <%= f.check_box :highlight_post %>
              <label><%= t('student.highlight_post')%></label>
            </div>
            <div> 
              <input type="submit", value= "Publicar", class= "post-button">
            </div>
          </div>  
        <% end %>
      </div>
      <div class="comments">
        <%= render partial: 'posts', locals: { posts_by_day: @posts_highlighted, is_highlighted: true } %>
        <%= render partial: 'posts', locals: { posts_by_day: @posts_not_highlighted, is_highlighted: false } %>
      </div>
    </div>
  </section>
  <section class="attendance-section">
    <%= render partial: 'attendance', locals: { students: @students } %>
    <%= render partial: 'summary_attendance'  %>
  </section>
</div>